**Datetime objects in Python**

There are at least 3 versions of datetime objects one can work with.

- datetime objects in python using the datetime package
- datetime arrays in numpy
- datetime series in pandas

There are also different types of objects to be aware of:

- date objects
- time objects
- datetime objects
- time delta objects (differences between dates, times, datetimes)

The following is a brief overview of some capabilities

Here, we will ignore time zone issues, but it is worth mentioning that datetime objects allow for time zones to be specified.

In [1]:
import datetime

year=1971
month=10
day=18
hour=7
minute=23
second=56
microsecond=139212

d1=datetime.datetime(year,month,day)
print(d1)
d2=datetime.datetime(year, month, day, hour, minute, second,microsecond)
print(d2)
d3=datetime.datetime.now()
print(d3)

1971-10-18 00:00:00
1971-10-18 07:23:56.139212
2022-11-09 14:21:06.360768

**The ISO 8601 format is a common one for datetime stamps**

In [2]:
d=datetime.datetime.now()
print(d)
print(d.isoformat())
d=datetime.datetime.utcnow()
print(d)

2022-11-09 14:21:35.071561
2022-11-09T14:21:35.071561
2022-11-09 19:21:35.072155

**strptime** is a string parser that converts a string to a datetime object

**strftime** is a formatter that converts a date timeobject to some specified format

Details for strptime can be found here:
https://docs.python.org/3/library/datetime.html#strftime-strptime-behavior

In [3]:
d=datetime.datetime.strptime("05:24:1931","%m:%d:%Y")
print(d)
d=datetime.datetime.strptime("05:24:31 09:23:57","%m:%d:%y %H:%M:%S")
print(d)

1931-05-24 00:00:00
2031-05-24 09:23:57

In [4]:
d=datetime.datetime.now()
print(d)
print(d.strftime("%m/%d/%y"))
print(d.strftime("%B %d, %Y at %H:%M %p"))

2022-11-09 14:24:49.485159
11/09/22
November 09, 2022 at 14:24 PM

**Extracting pieces of the datetime**

We can create a date or time object from a datetime object

In [5]:
d=datetime.datetime.now()
print(d)
print(type(d))
print(d.date())
print(type(d.date()))
print(d.time())
print(type(d.time()))

2022-11-09 14:26:00.912573
<class 'datetime.datetime'>
2022-11-09
<class 'datetime.date'>
14:26:00.912573
<class 'datetime.time'>

**Extract year, month, day, hour minute, second**

In [6]:
d=datetime.datetime.now()
print(d.year)
print(d.month)
print(d.day)
print(d.hour)
print(d.minute)
print(d.second)

2022
11
9
14
26
33

**Time deltas**

We can create a timedelta object using the constructor as in the following examples.

Internally, these are stored in days, seconds and microseconds

In [7]:
dt1=datetime.timedelta(days=4)
print(dt1)
dt2=datetime.timedelta(weeks=50)
print(dt2)
dt3=datetime.timedelta(days=7,hours=5, minutes=8, seconds=15)
print(dt3)

4 days, 0:00:00
350 days, 0:00:00
7 days, 5:08:15

Date differences lead to timedelta objects.

In [8]:
d1=datetime.datetime(1955,4,12,3)
print(d1)
d2=datetime.datetime.now()
print(d2)
dt=d2-d1
print(dt)
print(type(dt))

1955-04-12 03:00:00
2022-11-09 14:27:40.238370
24683 days, 11:27:40.238370
<class 'datetime.timedelta'>

**Adding**

We can also add time deltas to one another and to datetime objects.

In [9]:
dt1=datetime.timedelta(hours=12, minutes=5)
dt2=datetime.timedelta(hours=3, minutes=7)
dt3=dt1+dt2
print(dt3)

15:12:00

In [10]:
d=datetime.datetime.now()
dt=datetime.timedelta(days=10000)
dnew=d+dt
print(dnew)

2050-03-27 14:28:11.166069

**Time delta units**

In [11]:
d1=datetime.datetime(1955,4,12)
d2=datetime.datetime.now()
dt=d2-d1
print(dt)
print(dt.days)
print(dt.seconds)
print(dt.microseconds)
15*3600+19*60+33

24683 days, 14:28:32.654187
24683
52112
654187

55173

**How many hours have you been living?**

In [12]:
dt.days*24+dt.seconds/3600

592406.4755555555

**Pandas**

In pandas, when you read in a datetime column, it gets read in as a python object.

In [13]:
import pandas as pd
df=pd.read_csv("TRAFFIC_VOLUME.csv")
#df
print(df.dtypes)

holiday                 object
temp                   float64
rain_1h                float64
snow_1h                float64
clouds_all               int64
weather_main            object
weather_description     object
date_time               object
traffic_volume           int64
dtype: object

In [ ]:
print(df["datetimestamp"])
print(type(df["datetimestamp"][0]))

**We can convert it to a datetime object using the pd.todatetime() function**

In [14]:
df["datetimestamp"]=pd.to_datetime(df["date_time"])

In [15]:
df.dtypes

holiday                        object
temp                          float64
rain_1h                       float64
snow_1h                       float64
clouds_all                      int64
weather_main                   object
weather_description            object
date_time                      object
traffic_volume                  int64
datetimestamp          datetime64[ns]
dtype: object

**Formatting options**

In [ ]:
?pd.to_datetime

In [ ]:
type(df.datetimestamp.iloc[0])

**The dt accessor**

One of the attributes of a pandas datetime series object is the dt "accessor"

In [16]:
df.datetimestamp.dt.hour

0         9
1        10
2        11
3        12
4        13
         ..
48199    19
48200    20
48201    21
48202    22
48203    23
Name: datetimestamp, Length: 48204, dtype: int64

In [17]:
df.datetimestamp.dt.minute

0        0
1        0
2        0
3        0
4        0
        ..
48199    0
48200    0
48201    0
48202    0
48203    0
Name: datetimestamp, Length: 48204, dtype: int64

In [18]:
df.datetimestamp.dt.year

0        2012
1        2012
2        2012
3        2012
4        2012
         ...
48199    2018
48200    2018
48201    2018
48202    2018
48203    2018
Name: datetimestamp, Length: 48204, dtype: int64

In [19]:
df.datetimestamp.dt.month

0        10
1        10
2        10
3        10
4        10
         ..
48199     9
48200     9
48201     9
48202     9
48203     9
Name: datetimestamp, Length: 48204, dtype: int64

**Creating time deltas**

We can create time deltas by differencing with a datetime object

In [20]:
firstday=df["datetimestamp"].min()
print(firstday)
df["diff"]=df["datetimestamp"]-firstday
df

2012-10-02 09:00:00

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume,datetimestamp,diff
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,10/2/2012 9:00,5545,2012-10-02 09:00:00,0 days 00:00:00
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,10/2/2012 10:00,4516,2012-10-02 10:00:00,0 days 01:00:00
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,10/2/2012 11:00,4767,2012-10-02 11:00:00,0 days 02:00:00
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,10/2/2012 12:00,5026,2012-10-02 12:00:00,0 days 03:00:00
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,10/2/2012 13:00,4918,2012-10-02 13:00:00,0 days 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...
48199,None,283.45,0.0,0.0,75,Clouds,broken clouds,9/30/2018 19:00,3543,2018-09-30 19:00:00,2189 days 10:00:00
48200,None,282.76,0.0,0.0,90,Clouds,overcast clouds,9/30/2018 20:00,2781,2018-09-30 20:00:00,2189 days 11:00:00
48201,None,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,9/30/2018 21:00,2159,2018-09-30 21:00:00,2189 days 12:00:00
48202,None,282.09,0.0,0.0,90,Clouds,overcast clouds,9/30/2018 22:00,1450,2018-09-30 22:00:00,2189 days 13:00:00
48203,None,282.12,0.0,0.0,90,Clouds,overcast clouds,9/30/2018 23:00,954,2018-09-30 23:00:00,2189 days 14:00:00

In [22]:
df.dtypes

holiday                         object
temp                           float64
rain_1h                        float64
snow_1h                        float64
clouds_all                       int64
weather_main                    object
weather_description             object
date_time                       object
traffic_volume                   int64
datetimestamp           datetime64[ns]
diff                   timedelta64[ns]
dtype: object

In [ ]:
type(df["diff"].iloc[0])

In [ ]:
dir(df["diff"].iloc[0])

In [23]:
df["diff"].apply(lambda x:x.days)

0           0
1           0
2           0
3           0
4           0
         ...
48199    2189
48200    2189
48201    2189
48202    2189
48203    2189
Name: diff, Length: 48204, dtype: int64

In [24]:
df["diff"].apply(lambda x:x.seconds)

0            0
1         3600
2         7200
3        10800
4        14400
         ...
48199    36000
48200    39600
48201    43200
48202    46800
48203    50400
Name: diff, Length: 48204, dtype: int64

In [ ]:
df.datetimestamp.dt.time

In [25]:
df.datetimestamp.iloc[0].weekday()

1

In [26]:
df.datetimestamp.apply(lambda x:x.weekday())

0        1
1        1
2        1
3        1
4        1
        ..
48199    6
48200    6
48201    6
48202    6
48203    6
Name: datetimestamp, Length: 48204, dtype: int64

In [ ]:
datetime.datetime.now().weekday()