**Pandas groupby**

Starting with a data frame, we can form data frames obtained by grouping along some categorical variable.

In [1]:
import pandas as pd
df=pd.read_csv("survey_data.csv")

In [2]:
df.head()

         date state  gender  pet  age  petexpense
0  2019-10-12    NJ  female  dog   54      790.84
1  2019-10-05    PA  female  cat   31      478.58
2  2019-10-05    NY    male  dog   46      765.83
3  2019-09-21    NY    male  dog   55      316.05
4  2019-10-12    CT  female  cat   31       66.54

In [3]:
df.shape

(1000, 6)

**Create a group by object**

In [7]:
g=df.groupby("gender")
print(type(g))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

**groups attribute**

The attribute "groups" is like a dictionary.

In [9]:
print(g.groups)

{'female': [0, 1, 4, 9, 11, 12, 13, 14, 16, 19, 20, 22, 23, 24, 26, 27, 28, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 52, 53, 54, 57, 61, 65, 67, 68, 69, 72, 75, 76, 77, 81, 84, 85, 90, 94, 96, 100, 101, 105, 106, 108, 109, 110, 113, 114, 117, 118, 119, 120, 121, 122, 123, 124, 128, 129, 130, 131, 133, 137, 138, 139, 140, 141, 143, 144, 145, 146, 148, 151, 153, 154, 155, 159, 161, 163, 164, 165, 166, 168, 169, 175, 176, 179, 180, 181, 184, 185, 186, 188, ...], 'male': [2, 3, 5, 6, 7, 8, 10, 15, 17, 18, 21, 25, 29, 30, 31, 32, 34, 35, 45, 47, 48, 49, 50, 51, 55, 56, 58, 59, 60, 62, 63, 64, 66, 70, 71, 73, 74, 78, 79, 80, 82, 83, 86, 87, 88, 89, 91, 92, 93, 95, 97, 98, 99, 102, 103, 104, 107, 111, 112, 115, 116, 125, 126, 127, 132, 134, 135, 136, 142, 147, 149, 150, 152, 156, 157, 158, 160, 162, 167, 170, 171, 172, 173, 174, 177, 178, 182, 183, 187, 192, 195, 196, 198, 199, 202, 204, 206, 212, 217, 224, ...]}

In [12]:
print(type(g.groups))
for group in g.groups:
    print(group)
    print(g.groups[group])

<class 'pandas.io.formats.printing.PrettyDict'>
female
Index([  0,   1,   4,   9,  11,  12,  13,  14,  16,  19,
       ...
       978, 980, 983, 984, 989, 990, 992, 995, 996, 999],
      dtype='int64', length=552)
male
Index([  2,   3,   5,   6,   7,   8,  10,  15,  17,  18,
       ...
       982, 985, 986, 987, 988, 991, 993, 994, 997, 998],
      dtype='int64', length=448)

In [41]:
g.groups["male"]

Int64Index([  2,   3,   5,   6,   7,   8,  10,  15,  17,  18,
            ...
            982, 985, 986, 987, 988, 991, 993, 994, 997, 998],
           dtype='int64', length=448)

**get_group**

We can use "get_group" to produce the data frame restricted to that group.

In [13]:
d_male=g.get_group("male")
print(d_male.head())
type(d_male)
d_female=g.get_group("female")

         date state gender   pet  age  petexpense
2  2019-10-05    NY   male   dog   46      765.83
3  2019-09-21    NY   male   dog   55      316.05
5  2019-09-28    PA   male   cat   45      461.40
6  2019-09-28    CT   male  bird   49      951.40
7  2019-09-28    CT   male   cat   42      214.73

In [14]:
g.get_group("female")

           date state  gender  pet  age  petexpense
0    2019-10-12    NJ  female  dog   54      790.84
1    2019-10-05    PA  female  cat   31      478.58
4    2019-10-12    CT  female  cat   31       66.54
9    2019-10-05    CT  female  dog   31       35.08
11   2019-09-28    NY  female  cat   53       19.60
..          ...   ...     ...  ...  ...         ...
990  2019-10-12    NJ  female  dog   55      629.45
992  2019-09-28    NY  female  cat   47      800.99
995  2019-10-05    NY  female  dog   27      699.45
996  2019-09-07    CT  female  dog   29      608.72
999  2019-10-05    CT  female  dog   44      262.36

[552 rows x 6 columns]

**Multiple categories**

We can select multiple variables to group by

In [15]:
g=df.groupby(["gender","state"])

In [16]:
d_male_PA=g.get_group(("male","PA"))
print(d_male_PA.head())
d_female_PA=g.get_group(("female","PA"))
print(d_female_PA.head())

          date state gender   pet  age  petexpense
5   2019-09-28    PA   male   cat   45      461.40
32  2019-10-05    PA   male   cat   62      871.41
47  2019-10-12    PA   male   cat   28      632.45
55  2019-09-21    PA   male  bird   29      920.04
62  2019-09-21    PA   male   dog   35      492.65
          date state  gender  pet  age  petexpense
1   2019-10-05    PA  female  cat   31      478.58
20  2019-09-28    PA  female  cat   50      255.04
24  2019-10-05    PA  female  cat   49     1257.98
52  2019-09-28    PA  female  dog   40       97.49
57  2019-10-12    PA  female  cat   46      581.99

**Assignment**

Are data frames we get from the groupby function references?

In [17]:
print(df)

           date state  gender  pet  age  petexpense
0    2019-10-12    NJ  female  dog   54      790.84
1    2019-10-05    PA  female  cat   31      478.58
2    2019-10-05    NY    male  dog   46      765.83
3    2019-09-21    NY    male  dog   55      316.05
4    2019-10-12    CT  female  cat   31       66.54
..          ...   ...     ...  ...  ...         ...
995  2019-10-05    NY  female  dog   27      699.45
996  2019-09-07    CT  female  dog   29      608.72
997  2019-09-28    NJ    male  dog   37      201.88
998  2019-09-14    NY    male  dog   38      446.46
999  2019-10-05    CT  female  dog   44      262.36

[1000 rows x 6 columns]

In [18]:
g=df.groupby("gender")
d_male=g.get_group("male")
print(d_male.head())
type(d_male)

         date state gender   pet  age  petexpense
2  2019-10-05    NY   male   dog   46      765.83
3  2019-09-21    NY   male   dog   55      316.05
5  2019-09-28    PA   male   cat   45      461.40
6  2019-09-28    CT   male  bird   49      951.40
7  2019-09-28    CT   male   cat   42      214.73

pandas.core.frame.DataFrame

In [64]:
d_male["age"].iloc[2]=47.
print(d_male.head())
print(df.iloc[1:10])

         date state gender   pet  age  petexpense
2  2019-10-05    NY   male   dog   46      765.83
3  2019-09-21    NY   male   dog   55      316.05
5  2019-09-28    PA   male   cat   47      461.40
6  2019-09-28    CT   male  bird   49      951.40
7  2019-09-28    CT   male   cat   42      214.73
         date state  gender   pet  age  petexpense
1  2019-10-05    PA  female   cat   31      478.58
2  2019-10-05    NY    male   dog   46      765.83
3  2019-09-21    NY    male   dog   55      316.05
4  2019-10-12    CT  female   cat   31       66.54
5  2019-09-28    PA    male   cat   45      461.40
6  2019-09-28    CT    male  bird   49      951.40
7  2019-09-28    CT    male   cat   42      214.73
8  2019-09-21    NJ    male   cat   31      385.62
9  2019-10-05    CT  female   dog   31       35.08

C:\Users\dan\AppData\Local\Temp\ipykernel_4684\18637925.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d_male["age"].iloc[2]=47.

In [19]:
df.head(10)

         date state  gender   pet  age  petexpense
0  2019-10-12    NJ  female   dog   54      790.84
1  2019-10-05    PA  female   cat   31      478.58
2  2019-10-05    NY    male   dog   46      765.83
3  2019-09-21    NY    male   dog   55      316.05
4  2019-10-12    CT  female   cat   31       66.54
5  2019-09-28    PA    male   cat   45      461.40
6  2019-09-28    CT    male  bird   49      951.40
7  2019-09-28    CT    male   cat   42      214.73
8  2019-09-21    NJ    male   cat   31      385.62
9  2019-10-05    CT  female   dog   31       35.08

**ngroup**

The "ngroup()" gives an index telling the group.

In [38]:
g=df.groupby("state")
print(g.ngroup())
print(g.groups.keys())

0      1
1      3
2      2
3      2
4      0
      ..
995    2
996    0
997    1
998    2
999    0
Length: 1000, dtype: int64
dict_keys(['CT', 'NJ', 'NY', 'PA'])

**Summaries**

Once we have a groupby object we can summarize by group.

In [41]:
g.mean(["age","petexpense"])

             age  petexpense
state
CT     40.582278  477.699873
NJ     40.615970  492.028289
NY     40.839216  490.709725
PA     39.391837  520.856449

**Some of the things we'd like to do lead to surprising results**

In [44]:
g.mean()

TypeError: Could not convert 2019-10-122019-09-282019-09-282019-10-052019-09-142019-10-052019-09-282019-09-212019-10-122019-10-122019-09-212019-10-122019-09-212019-09-282019-10-122019-09-142019-09-282019-10-122019-10-122019-09-072019-10-052019-09-142019-09-142019-09-072019-09-142019-09-072019-10-122019-09-142019-10-052019-09-142019-09-142019-09-072019-10-122019-09-142019-09-212019-09-142019-10-052019-09-282019-10-052019-09-212019-09-142019-10-052019-09-282019-10-122019-09-212019-09-282019-10-122019-09-282019-09-212019-09-212019-10-122019-10-122019-09-142019-09-142019-10-122019-10-122019-09-282019-09-282019-09-282019-09-212019-09-142019-09-072019-10-052019-10-122019-09-212019-09-142019-10-122019-09-072019-09-282019-09-072019-10-052019-10-122019-09-212019-09-072019-09-072019-09-072019-09-072019-09-212019-09-142019-10-122019-10-052019-10-052019-09-282019-09-142019-09-072019-09-072019-09-142019-09-072019-09-072019-09-212019-10-122019-09-072019-10-122019-09-142019-09-142019-10-122019-09-072019-10-122019-09-142019-10-122019-09-142019-09-282019-09-142019-09-142019-09-282019-10-052019-09-072019-09-072019-09-212019-09-142019-10-122019-09-212019-09-212019-09-282019-10-122019-09-212019-09-212019-09-142019-10-052019-09-212019-09-282019-09-282019-09-142019-09-212019-10-122019-09-282019-10-052019-09-212019-09-072019-10-122019-10-052019-09-282019-09-282019-10-122019-09-142019-09-072019-09-212019-09-212019-09-072019-10-052019-10-122019-09-212019-09-212019-10-122019-10-052019-09-072019-09-072019-09-072019-09-072019-09-072019-09-142019-09-212019-09-282019-09-072019-09-142019-10-122019-10-122019-10-052019-10-052019-09-282019-09-282019-09-072019-10-052019-09-212019-09-212019-09-212019-10-122019-09-072019-09-072019-10-052019-10-052019-09-072019-09-142019-09-142019-10-122019-10-122019-10-052019-09-282019-09-282019-10-052019-09-072019-09-142019-09-282019-09-212019-09-212019-10-052019-09-212019-09-072019-09-212019-09-282019-09-072019-09-072019-09-282019-09-142019-09-072019-09-282019-10-052019-09-212019-09-282019-10-052019-10-122019-09-072019-09-212019-10-122019-09-142019-09-142019-09-212019-10-052019-10-052019-09-142019-09-142019-09-072019-10-122019-10-122019-09-282019-09-282019-10-122019-09-072019-09-212019-10-122019-10-052019-09-142019-09-072019-09-282019-09-142019-09-282019-10-052019-09-282019-09-072019-10-122019-09-142019-10-052019-09-282019-10-052019-10-122019-09-072019-10-05 to numeric

In [45]:
g.max()

             date gender  pet  age  petexpense
state
CT     2019-10-12   male  dog   66     1191.30
NJ     2019-10-12   male  dog   70     1109.06
NY     2019-10-12   male  dog   72     1337.77
PA     2019-10-12   male  dog   67     1278.29

**Dictionaries of functions**

We can create a dictionary of summary functions to apply to different columns to summarize by group.

In [69]:
df9=g.agg({"age":lambda x:x.mean(), 
           "petexpense":(lambda x:x.quantile(.25),"median",lambda x:x.quantile(.75))})
print(df9)
print(type(df9))

             age petexpense
        <lambda> <lambda_0>  median <lambda_1>
state
CT     40.582278     303.98  483.29    639.730
NJ     40.615970     351.47  502.61    636.170
NY     40.839216     335.04  481.82    656.345
PA     39.391837     338.50  514.60    688.940
<class 'pandas.core.frame.DataFrame'>

Since the functions we used are anonymous, this looks kind of funny. Maybe nicer to give the functions names.

In [83]:
def Q3(x):
    return(x.quantile(.75))
def Q1(x):
    return(x.quantile(.25))
def MEAN(x):
    return(x.mean())
def MEDIAN(x):
    return(x.median())



df9=g.agg({"age":(MEAN,MEDIAN), "petexpense":(Q1,"median",Q3)})
print(df9)
print(type(df9))

             age        petexpense
            MEAN MEDIAN         Q1  median       Q3
state
CT     40.582278   40.0     303.98  483.29  639.730
NJ     40.615970   41.0     351.47  502.61  636.170
NY     40.839216   41.0     335.04  481.82  656.345
PA     39.391837   40.0     338.50  514.60  688.940
<class 'pandas.core.frame.DataFrame'>

**Multindices**

Note that the result is a data frame. The columns are now **multi-indexed**. (In pandas, rows can be multi-indexed as well.)

In [85]:
df9.columns

MultiIndex([(       'age',   'MEAN'),
            (       'age', 'MEDIAN'),
            ('petexpense',     'Q1'),
            ('petexpense', 'median'),
            ('petexpense',     'Q3')],
           )

**We get a multi-index object**

In [93]:
df9.columns.nlevels

2

In [94]:
df9.columns.get_level_values(0)

Index(['age', 'age', 'petexpense', 'petexpense', 'petexpense'], dtype='object')

In [95]:
df9.columns.get_level_values(1)

Index(['MEAN', 'MEDIAN', 'Q1', 'median', 'Q3'], dtype='object')

In [ ]:
## We can always rename the columns to be whatever we want.

In [98]:
df9.columns=['a','b','c','d','e']

In [99]:
df9

               a     b       c       d        e
state
CT     40.582278  40.0  303.98  483.29  639.730
NJ     40.615970  41.0  351.47  502.61  636.170
NY     40.839216  41.0  335.04  481.82  656.345
PA     39.391837  40.0  338.50  514.60  688.940

**Now we have an ordinary index.**

In [102]:
df9.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [101]:
df9.columns.nlevels

1

**Groupby apply**

In the above examples, our function was applied to a column in a dataframe associated with each group.

We can apply a function that takes an entire dataframe as input and outputs a value, or values.

In [109]:
g.apply(lambda x:x.shape[0])

state
CT    237
NJ    263
NY    255
PA    245
dtype: int64

In [116]:
g.apply(lambda x:(x.shape[0],np.mean(x.petexpense*x.age)))

state
CT    (237, 19432.088776371304)
NJ    (263, 19897.821596958176)
NY    (255, 20019.674549019608)
PA              (245, 20711.02)
dtype: object

**If we make the value returned a pandas series, we get a dataframe**

In [120]:
g.apply(lambda x:pd.Series([x.shape[0],np.mean(x.petexpense*x.age)]))

           0             1
state
CT     237.0  19432.088776
NJ     263.0  19897.821597
NY     255.0  20019.674549
PA     245.0  20711.020000

**How can we get the row in the orginal dataframe with the largest pet expense in each group?**

Creating the function we need can be illustrated in steps.

Get a group dataframe as an example.

In [36]:
g=df.groupby("state")
print(g.get_group("NY"))

Get largest petexpense.

In [36]:
print(g.get_group("NY")["petexpense"].nlargest(1))

Get the row corresponding to the largest petexpense.

In [129]:
g.get_group("NY")["petexpense"].nlargest(1)

848    1337.77
Name: petexpense, dtype: float64

Here we apply this to every group.

In [131]:
def h(dt):
    return(dt["petexpense"].nlargest(1))
g.apply(h)

state
CT     600    1191.30
NJ     393    1109.06
NY     848    1337.77
PA     926    1278.29
Name: petexpense, dtype: float64

Note that we get the largest petexpense and the index in the original data frame of the corresponding row.

**Get the row with highest pet expense in each group? Again, by hand we could do this**

In [133]:
g=df.groupby("state")
print(g.get_group("NY")["petexpense"].nlargest(1))

848    1337.77
Name: petexpense, dtype: float64

In [134]:
i=g.get_group("NY")["petexpense"].nlargest(1).index[0]
print(i)

848

In [138]:
df.iloc[i]

date          2019-10-05
state                 NY
gender            female
pet                 bird
age                   27
petexpense       1337.77
Name: 848, dtype: object

## Create function that does this for a data frame.

In [139]:
def h(dt):
    r=dt["petexpense"].nlargest(1)
    ind=r.index[0]
    return(dt.loc[ind])

In [140]:
g.apply(h)

             date state  gender   pet  age  petexpense
state
CT     2019-09-28    CT  female   dog   31     1191.30
NJ     2019-10-12    NJ    male   cat   48     1109.06
NY     2019-10-05    NY  female  bird   27     1337.77
PA     2019-09-28    PA  female   dog   55     1278.29